$font-header: "Playfair Display", serif;
$font-body: "Raleway", sans-serif;
$light-grey: #E9E9E9;
$gold: #F0C71C;
$navy: #1F4DAB;
$dark-green: #3C4C4D;
$dark-grey: #5A5A5C;
$black-grey: #393939;
$wine-red: #5E2626;
