@import "./_mixins";
@import "./_variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-grey;
  color: $black-grey;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 1.6rem;

  font: {
    family: $font-header;
    size: 1.5rem;
  }
}

h2 {
  margin-bottom: 1.6rem;

  font: {
    family: $font-header;
    size: 1.375rem;
  }
}

h3 {
  margin-bottom: 1.6rem;

  font: {
    family: $font-header;
    size: 1.125rem;
  }
}

p {
  font: {
    family: $font-body;
    weight: 300;
  }
}

button {
  background-color: $gold;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
  color: $black-grey;
  padding: 0.875rem;
  text-transform: uppercase;

  font: {
    family: $font-body;
    weight: 300;
    size: 1rem;
  }
}

button:hover {
  background-color: $wine-red;
  color: white;
  cursor: pointer;
  /* Firefox */
  -moz-transition: all 0.3s ease-in;
  /* WebKit */
  -webkit-transition: all 0.3s ease-in;
  /* Opera */
  -o-transition: all 0.3s ease-in;
  /* Standard */
  transition: all 0.3s ease-in;
}
