<div class="promotions">
  <p>June Special! New Clients get 20% off all services!</p>
</div>
<div class="navbar">
  <div class="left-logo">
    <h1>Lorem Ipsum Salon</h1>
    <p>(123) 123-4567</p>
  </div>
  <div class="right-nav">
    <p><a href="#">home</a></p>
    <p><a href="#about">about</a></p>
    <p><a href="#services">services</a></p>
    <p><a href="#gallery">gallery</a></p>
    <p><a href="#contact">contact</a></p>
  </div>
</div>

<div class="container">
  <div class="banner">
    <div class="call-to-action">
      <h1>Ut enim ad minim veniam, quis nostrud exercitation.</h1>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. </p>
      <button>book now</button>
    </div>
    <div class="image">
      <!-- <img src="./assets/img/banner.jpg" alt="image of stylish woman"> -->
    </div>
  </div>
  <div class="about" id="about">
    <div class="content">
      <h2>about the owner</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
  <div class="services-section" id="services">
    <div class="content">
      <h2>services</h2>
      <div class="list">
        <div class="service">
          <div class="service-image">
            <img src="./assets/img/service-style.jpg" alt="image of braided woman">
          </div>
          <h3>hair styling</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="service">
          <div class="service-image">
            <img src="./assets/img/service-color.jpg" alt="image of woman with dyed hair">
          </div>
          <h3>hair coloring</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <button>SEE OUR FULL LIST OF SERVICES</button>
    </div>
  </div>
  <div class="gallery" id="gallery">
    <div class="content">
      <h2>gallery</h2>
      <div class="grid">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
        <img src="./assets/img/gallery.jpg" alt="gallery image">
      </div>

    </div>
  </div>
</div>
