<div class="promotions">
  <p>June Special! New Clients get 20% off all services!</p>
</div>
<div class="navbar">
  <div class="left-logo">
    <h1>Lorem Ipsum Salon</h1>
    <p>(123) 123-4567</p>
  </div>
  <div class="right-nav">
    <p>home</p>
    <p>about</p>
    <p>services</p>
    <p>gallery</p>
    <p>contact</p>
  </div>
</div>

<div class="container">
  <div class="banner">
    <div class="call-to-action">
      <h1>Ut enim ad minim veniam, quis nostrud exercitation.</h1>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. </p>
      <button>book now</button>
    </div>
    <div class="image">
      <!-- <img src="./assets/img/banner.jpg" alt="image of stylish woman"> -->
    </div>
  </div>
  <div class="about">
    <div class="content">
      <h2>about the owner</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
</div>